*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
/* all the main parts of the layout have the same properties */
.section{
    width: 80%;
    margin:auto;
    margin-top:20px;
    border-radius: 10px;
}

.head{
    height: 100px;
    margin-top:10px;
}

.first-main{
    height: 400px;
    background-image: url('../img/banner.jpg');
    background-position: center;
    position: absolute;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.second-main{
    background-color: hsl(208deg 100% 50%);
}

.foot {
    height: 75px;
    background-color:hsl(272deg 99% 50%); 
    margin-top:10px;
    margin-bottom:20px;
}

.head-part{
    width: 100%;
    height: 100px;
    background-color:hsl(204deg 56% 79%);
    margin-bottom:20px;
    
}
.part{
    width: 23%;
    height: 400px;
    background-color:hsl(204deg 56% 79%);   
    float: left;
    margin-bottom:20px;
}

.central-part{
    width: 50%;
    height: 400px;
    background-color:hsl(204deg 56% 79%);   
    float: left;
    margin-bottom:20px;
    margin-left:2%;
}

.right{
    margin-left:2%;
}

/* .left{
    
} */
.logo{
    height:60%;
    width:20%;
    margin-bottom: 20px;
    border-right:1px solid hsl(0deg 0% 88%);
}
.logo img{
    height: 100%;
   
}
.lista-menu{
    height: 20%;
    margin-top:10px;
    line-height: 100%;
    vertical-align: baseline;
}
.lista-menu li, ul{
    list-style-type: none;
    display: inline;
    font-size: 15px;
    padding-inline-start:0;
    margin-right: 10px;
    
    
    
}
li a{
    text-decoration: none;
    color:hsl(0deg 0% 88%);
    
}

.layover{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    display: block;
    border-radius: 10px;
  }


