*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
/* all the main parts of the layout have the same properties */
.section{
    width: 80%;
    margin:auto;
    margin-top:20px;
    border-radius: 10px;
}

.head{
    height: 100px;
    margin-top:10px;
}

.first-main{
    height: 400px;
    background-image: url('../img/banner.jpg');
    background-position: center;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }




.foot {
    height: 75px;
    
    margin-top:10px;
    margin-bottom:20px;
    line-height: 75px;
    vertical-align: center;
    text-align:center;
}

.head-part{
    width: 100%;
    height: 100px;
    
    margin-bottom:20px;
    
}

 p{
    color:hsl(0deg 0% 88%);

}

.part{
    width: 23%;
    
    
    float: left;
    margin-bottom:20px;
}

.central-part{
    width: 50%;
   
   
    float: left;
    margin-bottom:20px;
    margin-left:2%;
    margin-right:2%;
    
    
}

.central-part .image{
    width:100%;
    height:200px;
    border-radius:10px;
    background-size: 100%;
    background-position: center;
    background-image: url(../img/banner-2.jpg);
    background-size:120%;
}

.right .image{
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    
    
}

.left .image{
    background-image: url(../img/img-1.jpg);

    
}
.logo{
    height:60%;
    width:20%;
    margin-bottom: 20px;
    border-right:1px solid hsl(0deg 0% 88%);
}
.logo img{
    height: 100%;
   
}
.lista-menu{
    height: 20%;
    margin-top:10px;
    line-height: 100%;
    vertical-align: baseline;
}
.lista-menu li, ul{
    list-style-type: none;
    display: inline;
    font-size: 15px;
    padding-inline-start:0;
    margin-right: 10px;
    
    
    
}
li a{
    text-decoration: none;
    color:hsl(0deg 0% 88%);
    
}

.layover{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    display: block;
    border-radius: 10px;
  }

  .first-main-text{
      position: absolute;
      width:50%;
      left:40px;
      bottom:40px;
      color:white;
      font-weight: normal;
  }

  .image{
    width:100%;
    height:200px;
    border-radius:10px;
    background-size: 100%;
    background-position: center;
    margin-bottom:20px;
  }

  
  span{
      color:red;
      font-size:20px;
  }
